// Page loader

.loader {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;

    &_overlay {
        left: 0;
        top: 0;
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.2);
    }

    &_wrapper {
        display: flex;
        align-items: center;
        background: #fff;
        padding: 12px 20px 9px;
        border-radius: 5px;
        z-index: 1;

        .-single & {
            background-color: transparent;
        }

        p {
            display: inline-block;
            margin-left: 12px;
            line-height: 1.2;
            margin-bottom: 0;
        }
    }

    &_spinner-wrap {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

//Spinners
.spinner-border {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    vertical-align: text-bottom;
    border: .25em solid currentColor;
    border-right-color: transparent;
    border-radius: 50%;
    -webkit-animation: spinner-border .75s linear infinite;
    animation: spinner-border .75s linear infinite;

    &:before {
        content: '';
        position: absolute;
        display: block;
        top: -.25em;
        left: -.25em;
        right: -.25em;
        bottom: -.25em;
        border: .25em solid currentColor;
        border-radius: 50%;
        opacity: 0.2;
    }
}

.spinner-grow {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    vertical-align: text-bottom;
    background-color: currentColor;
    border-radius: 50%;
    opacity: 0;
    -webkit-animation: spinner-grow .75s linear infinite;
    animation: spinner-grow .75s linear infinite
}

// Sizes
.spinner-grow-sm {
    width: 1rem;
    height: 1rem
}

.spinner-border-sm {
    width: 1rem;
    height: 1rem;
    border-width: .2em;

    &:before {
        top: -.2em;
        left: -.2em;
        right: -.2em;
        bottom: -.2em;
        border-width: .2em;
    }
}

// Animations

@include keyframes(sk-circleBounceDelay) {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@include keyframes(rotate) {
    from {
        @include rotate(0deg);
    }
    to {
        @include rotate(360deg);
    }
}

@include keyframes(spinner-border) {
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@include keyframes(spinner-grow) {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0)
    }
    50% {
        opacity: 1
    }
}


