<form [formGroup]="form" class="mb-3">
    <div class="row">
        <app-select-control [formControlName]="'films'"
                            [options]="films$ | async"
                            [placeholder]="'Films'"
                            [defaultOption]="{id: '', title: 'All'}"
                            [label]="'Films'"
                            option.value="id"
                            option.text="title"
                            class="mr-2">
        </app-select-control>
        <app-select-control [formControlName]="'species'"
                            [options]="species$ | async"
                            [placeholder]="'Species'"
                            [defaultOption]="{id: '', name: 'All'}"
                            [label]="'Species'"
                            option.value="id"
                            option.text="name">
        </app-select-control>
    </div>
    <div class="mt-4">
        <app-slider-control [formControlName]="'birthYear'"
                            [min]="minRange"
                            [max]="maxRange"
                            [changeOnSlideEnd]="true"
                            [config]="sliderConfig">
        </app-slider-control>
    </div>
</form>
